
body{
    background-color: azure;
}

#Form{
    margin-left: 10px;
    max-width: 50%;
}

.botao{
    margin-left: 10px;
    max-width: 50%;
}

.botao-cadastro{
    border-radius: 20px;
    margin-left: 10px;
}


h3{
    padding-left: 10px;
}