
.cor-azul{
    background-color: azure;
}

#Form{
    margin-left: 10px;
    max-width: 50%;
}

.botao{
    margin-left: 10px;
    max-width: 50%;
    margin-left:25%;
}

.botao-cadastro{
    border-radius: 20px;
    margin-left: 48%;
}

.botao-novoCad{
    border-radius: 20px;
    margin-left: 34%;

}

.navbar{
    margin-left:40%;
}

h3{
    padding-left: 10px;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:100px ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


